# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
mwtc2015resumes/charlesshao.pdf
mwtc2015resumes/Charlie Dreebin Resume (1).pdf
mwtc2015resumes/danielzhang.pdf
mwtc2015resumes/Ethan Perbohner 2015 Resume.pdf
mwtc2015resumes/Evan_Fabry.pdf
mwtc2015resumes/Greg Pastorek Resume.pdf
mwtc2015resumes/Huck_Zou.pdf
mwtc2015resumes/MatthewKearny Resume 2015.pdf
mwtc2015resumes/resume_yueliu.pdf
mwtc2015resumes/spencerni.pdf
mwtc2015resumes/ThibautXiongResume.pdf
mwtc2015resumes/TylerBuenting.pdf
mwtc2015resumes/UIUCmwtcResumeBook.pdf
mwtc2015resumes/Xuan Wang resume.pdf
mwtc2015resumes/Yicheng Resume.pdf
mwtc2015resumes/Zach Steinbrenner Resume.pdf
